.about{
    &__info{
        width: 960px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
    }
    &__title{
        font-size: 1.5rem;
        font-weight: 900;
        position: relative;
        color: var(--primary-text-color);

        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.5rem;
            width: 100%;
            height: 0.325rem;
            background-color: var(--tertiary-theme-color);
            transition: all 0.25s ease-in-out;
        }
    }
    &__subtitle{
        font-size: 1.125rem;
        color: var(--primary-text-color);
    }
    &__text{
        display: flex;
        margin: 0;
        padding: 2rem;
        width: 960px;
        text-align: justify;
        gap: 2rem;
        align-items: center;
        background-color: var(--tertiary-text-color);
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.48);

        &--container{
            display: flex;
            flex-direction: column;
        }
    }
    &__img{
        margin: 0;
        padding: 0;
        max-width: 100%;
        border-radius: var(--primary-border-radius);
        box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.48);
        transition: transform 0.25s ease-in-out;
        width: 300px;
        height: 300px;

        &:hover{
            transform: scale(1.01);
        }

        &--cambio-d{
            display:none;
        }
    }
    
    &__paragraph{
        color: var(--primary-text-color);
        max-width: 100%;
        font-size: 0.85rem;
    }
}

@media(min-width:1920px){
    .about{
        &__paragraph{
            font-size: 1rem;
        }
        &__img{
            width: 400px;
            height: 400px;
        }
    }
}

@media(max-width:768px){
    .about{
        &__title{
            display: none;
        }
        &__paragraph{
            font-size: 0.65rem;
        }
        &__img{
            width: 200px;
            height: 200px;
        }
        &__text{
            flex-direction: column;
            max-width: 360px;
            padding: 0.5rem;
            gap: 0;
        }
    }
}