.header {
    position: fixed;
    z-index: 25;
    top: 0;
    left: 0;
    font-size: 1rem;
    width: 100%;
    background-color: none;

    &--scroll {
        background-color: var(--tertiary-theme-color);
    }
}

.nav {
    padding: 0.5em 0;
    --translate-x-menu: translateX(100%);
    // max-width: var(--max-width-container);

    &--open {
        --translate-x-menu: translateX(0);
    }
    
    &__logo {
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        margin: 0 auto;
        padding: 0 auto;
    }
    
    &__action{
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.75rem;
        transition: transform 0.25s;

        &--menu{
            right: 0;
        }
        
        &--close {
            top: calc(var(--pading-nav) + 0.5rem);
            right: var(--padding-container);
            transition: top 0.25s, right 0.25s;
        }

        &--search{
            position: absolute;
            transform: scale(0);
        }
    }
}

@media(min-width: 940px){
    .nav{
        --scale-menu: scale(0);
        --translate-x-menu: translateX(0);

        &:target{
            --scale-close: scale(0;)
        }

        &__action{
            &--menu{
                transform: scale(0);
            }
            
            &--close{
                transform: scale(0);
            }

            &--search{
                position:initial;
                transform: scale(1);
            }
        }
    }

}